/* @import "./reset.css"; */

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#root {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px 10px;
}

.waitingRoom {
    margin: 0 10px;
    width: 100%;
    max-width: 1100px;
}

.newRoom {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newRoom_form {
    padding: 10px;
    width: 100%;
    max-width: 5000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.newRoom_input {
    flex-grow: 1;
    margin: 5px 10px 5px 5px;
    min-width: 0px;
    height: 50px;
    border-radius: 33px;
    border: 2px solid #866a45;
    box-shadow: 2px 2px 10px #f4f4f4;
    box-sizing: border-box;
    padding-left: 15px;
}

.newRoom_submit {
    margin: 10px 10px 10px 10px;
    padding: 0px;
    width: 140px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.newRoom_submit:hover {
    transform: scale(1.1);
}

.roomList {
    margin: 40px 20px 20px 20px;
}

.roomList_container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.roomList_item {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;
    border: 2px solid #866a45;
    box-shadow: 2px 2px 10px #f4f4f4;
    box-sizing: border-box;
}

.roomList_name {
    color: black;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.roomList_enter {
    margin: 10px;
    padding: 0px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color : #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.roomList_enter:hover {
    transform: scale(1.1);
}

.gaming-room {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    background-color: skyblue;
    border-radius: 10px;
}

.gameParticipants {
    min-width: 400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.gameParticipants_main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.gameParticipants_title {
    margin: 10px 0 20px 0;
    font-size: 30px;
    align-self: center;
    color: black;
}

.gameParticipants_players {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.gameParticipants_player {
    width: 48%;
}

.gameParticipants_playercolor {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.gameParticipants_blackColor {
    background-color: black;
    color: white;
}

.gameParticipants_whiteColor {
    background-color: white;
    color: black;
}

.gameParticipants_playerinfo {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.gameParticipants_playername {
    padding: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    color: black;
}

.gameParticipants_join {
    margin: 1px;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor : pointer;
    border-radius: 5px;
    border: 0px;
    transition: transform 0.3s ease-in-out;
}

.gameParticipants_join:hover {
    transform: scale(1.1);
}

.gameParticipants_message {
    margin: 20px 0 10px 0;
    padding: 15px 0;
    width: 100%;
    height: calc(56vh - 310px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.gameParticipants_message p {
    width: 98%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.gameParticipants_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 8px;
}

.gameStart_button {
    width: 100%;
    height: 40px;
    margin-top: auto;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 5px;
    border: 0px;
    transition: transform 0.3s ease-in-out;
}

.gameStart_button:hover {
    transform: scale(1.1);
}

.gameParticipants_button {
    height: 40px;
    width: 48%;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    transition: transform 0.3s ease-in-out;
}

.gameParticipants_button:hover {
    transform: scale(1.1);
}

.board {
    width: 70vh;
    height: 70vh;
    margin: 0 20px 0 0;
    position: relative;
    background: url("../img/board.jpg");
    background-size: 100% 100%;
    touch-action: none;
}

.stone {
    position: absolute;
    width: 4.5%;
    height: 4.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px gray;
}

.stone_black {
    background-color: black;
}

.stone_white {
    background-color: white;
}

.stone_prev {
    width: 2%;
    height: 2%;
    background-color: red;
    z-index: 1;
}

.coord {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    touch-action: none;
}

.endPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.endPopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.endPopup_text {
    margin: 20px 0;
    color: black;
}

.endPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.endPopup_button:hover {
    transform: scale(1.1);
}

.startPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.startPopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.startPopup_text {
    margin: 20px 0;
    color: black;
}

.startPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.startPopup_button:hover {
    transform: scale(1.1);
}

.exitPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.exitPopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.exitPopup_text {
    margin: 20px 0;
    color: black;
}

.exitPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.exitPopup_button:hover {
    transform: scale(1.1);
}

.alertPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alertPopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.alertPopup_text {
    margin: 20px 0;
    color: black;
}

.alertPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.alertPopup_button:hover {
    transform: scale(1.1);
}

.giveUpPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.giveUpPopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.giveUpPopup_text {
    margin: 20px 0;
    color: black;
}

.giveUpPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.giveUpPopup_button:hover {
    transform: scale(1.1);
}

.undoMovePopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.undoMovePopup_main {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.undoMovePopup_text {
    margin: 20px 0;
    color: black;
}

.undoMovePopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.undoMovePopup_button:hover {
    transform: scale(1.1);
}

@keyframes blink_turn {
    0% { opacity : 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.blink_turn {
    animation: blink_turn 1s infinite;
}

#messages .systemMessage {
    color : #957839;
    font-size: 2vh;
}

#messages .userMessage {
    color : #4E6C87;
    font-size: 2vh;
}

.gameParticipants_sendForm {
    width: 100%;
    margin-bottom: 10px;
}

#messageInput {
    margin-right: 4px;
    min-width: 0px;
    height: 30px;
    border-radius: 33px;
    box-sizing: border-box;
    padding-left: 15px;
    width: 80%;
}

#sendMessage {
    width: 17%;
    height: 30px;
    margin-top: auto;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    transition: transform 0.3s ease-in-out;
}

#sendMessage:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.invitePopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.invitePopup_main {
    width: 40%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.invitePopup_text {
    margin-top: 20px;
    color: black;
}

.invitePopup_userList {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px 10px;
    overflow-y: scroll;
}

.invitePopup_user {
    background-color: white;
    cursor: pointer;
}

.invitePopup_user.clicked {
    background-color: #cda562;
}

.invitePopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.invitePopup_button:hover {
    transform: scale(1.1);
}

.acceptPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.acceptPopup_main {
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 7px solid #866a45;
    border-radius: 20px;
}

.acceptPopup_text {
    margin: 20px 20px;
    text-align: center;
}

.acceptPopup_userList {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px 10px;
    overflow-y: scroll;
}

.acceptPopup_user {
    background-color: white;
    cursor: pointer;
}

.acceptPopup_user.clicked {
    background-color: #cda562;
}

.acceptPopup_button {
    width: 70px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f3c271;
    border-radius: 33px;
    transition: transform 0.3s ease-in-out;
}

.acceptPopup_button:hover {
    transform: scale(1.1);
}

#myId {
    text-align: right;
    margin-right: 40%;
    width: 100%;
    margin-top: 10px;
}

@media screen and (orientation: portrait) {
    body {
        width: 100%;
    }

    .gaming-room {
        flex-direction: column;
        align-items: center;
    }

    .gameParticipants {
        width: 100%;
    }

    .board {
        width: 90vw;
        height: 90vw;
        margin: 0px;
    }
}

html {
    overflow-x: hidden !important; /* 수평 스크롤바 숨김 */
}

/* 수직 스크롤바에만 스타일 적용 */
html::-webkit-scrollbar,
p::-webkit-scrollbar {
    width: 12px; /* 스크롤 바 너비 */
    overflow-y: auto; /* 수직 스크롤바에만 스타일 적용 */
}

/* 스크롤 바 트랙 */
html::-webkit-scrollbar-track,
p::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙 배경색 */
}

/* 스크롤 바 핸들 */
p::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f3c271, #866a45); /* 핸들 색상 */
    border-radius: 6px; /* 핸들 둥글기 */
}

/* 스크롤 호버 시 핸들 색상 변경 */
p::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #f3c271, #866a45);
}

/* 로그인창 */
.loginWrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.loginHtml{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
}
.loginHtml .signIn,
.loginHtml .signUp{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.loginHtml .sign-in,
.loginHtml .sign-up,
.loginForm .group .check{
    display:none;
}
.loginHtml .tab,
.loginForm .group .label,
.loginForm .group .button{
    text-transform:uppercase;
}
.loginHtml .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
    cursor: pointer;
}

.loginHtml .sign-in:checked + .tab,
.loginHtml .sign-up:checked + .tab{
    color: black;
    border-color:#1161ee;
}
.loginForm{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.loginForm .group{
    margin-bottom:15px;
}
.loginForm .group .label,
.loginForm .group .input,
.loginForm .group .button{
    width:100%;
    color:black;
    display:block;
}
.loginForm .group .input,
.loginForm .group .button{
    border:1px solid #a3add9;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.loginForm .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.loginForm .group .label{
    color:#aaa;
    font-size:12px;
}
.loginForm .group .button{
    color: white;
    background: #f3c271;
}
.loginForm .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.loginForm .group label .icon:before,
.loginForm .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.loginForm .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.loginForm .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.loginForm .group .check:checked + label{
    color: black;
}
.loginForm .group .check:checked + label .icon{
    background:#1161ee;
}
.loginForm .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.loginForm .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.loginHtml .sign-in:checked + .tab + .sign-up + .tab + .loginForm .signIn{
    transform:rotate(0);
}
.loginHtml .sign-up:checked + .tab + .loginForm .signUp{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

.foot-lnk button{
    color : #5a6181;
}

body {
    margin:0;
    color:#a3add9;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}