<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omok Game</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
            flex-direction: column;
        }
        .frameElement {
            width: 70%;
            height: 100%;
            padding: 20px;
        }
    </style>
    <script>
        const ip = `[[${ip}]]`;
        let token = '';
    </script>
</head>
<body>
    <link href="/css/style.css" rel="stylesheet" type="text/css" id="custom-stylesheet"/>
    <script src="/js/omokCommon.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>
    <h1 style="margin-top: 50px; color: black;">Omok Game</h1>
    <h4 id="myId" style="color: black;"></h4>
    <div id="parent_overlay" class="overlay"></div>
    <div class="alertPopup" style="display: none">
        <div class="alertPopup_main">
            <h3 class="alertPopup_text"></h3>
            <button class="alertPopup_button" onClick="onAlertClick()">예</button>
        </div>
    </div>
    <form id="resetPwdForm">
        <div class="resetPwdPopup" style="display: none">
            <div id="resetPwd_overlay" class="overlay"></div>
            <div class="resetPwdPopup_main">
                <h3 class="resetPwdPopup_text">비밀번호 찾기</h3>
                <div class="group" id="idGroup">
                    <label for="resetPwd_id" class="label">아이디</label>
                    <input id="resetPwd_id" type="text" class="input">
                </div>
                <div class="group" id="emailGroup">
                    <label for="resetPwd_email" class="label">이메일 주소</label>
                    <input id="resetPwd_email" type="text" class="input">
                </div>
                <div class="group" style="display: none" id="pwdGroup">
                    <label for="resetPwd_newPwd" class="label">비밀번호</label>
                    <input id="resetPwd_newPwd" class="input" data-type="password" autoComplete="false">
                </div>
                <div class="group" style="display: none" id="pwdChkGroup">
                    <label for="resetPwd_newPwdChk" class="label">비밀번호 확인</label>
                    <input id="resetPwd_newPwdChk" class="input" data-type="password" autoComplete="false">
                </div>
                <div class="resetPwdPopup_btnDiv">
                    <button class="acceptPopup_button" id="resetPwd" onclick="onResetPwd()">찾기</button>
                    <button class="acceptPopup_button" id="savePwd" style="display: none" onclick="onSavePwd()">저장</button>
                    <button class="acceptPopup_button" id="resetPwdCancel" onclick="onResetPwdCancel()">닫기</button>
                </div>
            </div>
        </div>
    </form>
    <iframe class="frameElement" id="frameElement" src="/omok/omokMain" style="border: 0px"/>
</body>
</html>
