<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omok Game</title>
</head>
<body>
    <link href="/css/style.css" rel="stylesheet" type="text/css" id="custom-stylesheet"/>
    <script src="/js/omokMain.js"></script>
    <div id="waiting-room" class="waiting-room">
        <div class="newroom">
            <form class="newroom__form" onSubmit="handleNewRoom(event)">
                <input class="newroom__input" type="text" name="roomname" placeholder="방 이름"></input>
                <button class="newroom__submit">방 만들기</button>
            </form>
        </div>
        <div id="room-list" class="room-list">
            <h3>방 목록</h3>
            <ul id="room-list-container" class="room-list__container"></ul>
        </div>
    </div>
    <div class="gaming-room" style="display: none">
        <div class="omokboard">
        </div>
        <div class="game-panel">
        </div>
        <div class="endscreen" style="display: none">
            <div class="endscreen__main">
                <h3 class="endscreen__text"></h3>
                <button class="endscreen__button" onClick="onGameEnd()">확인</button>
            </div>
        </div>
    </div>
</body>
</html>
