<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omok Game</title>
</head>
<body>
    <link href="/css/style.css" rel="stylesheet" type="text/css" id="custom-stylesheet"/>
    <script src="/js/omokMain.js"></script>
    <div id="waitingRoom" class="waitingRoom">
        <div class="newRoom">
            <form class="newRoom_form" onSubmit="handleNewRoom(event)">
                <input class="newRoom_input" type="text" name="roomName" placeholder="방 이름">
                <button class="newRoom_submit">방 만들기</button>
            </form>
        </div>
        <div id="roomList" class="roomList">
            <h3 style="text-align: center;">방 목록</h3>
            <ul id="roomList_container" class="roomList_container"></ul>
        </div>
    </div>
    <div class="gaming-room" style="display: none">
        <div class="board">
        </div>
        <div class="gameParticipants">
        </div>
        <div class="startPopup" style="display: none">
            <div class="startPopup_main">
                <h3 class="startPopup_text">게임을 시작하시겠습니까?</h3>
                <div class="startPopup_btnDiv">
                    <button class="startPopup_button" onClick="onGameStart()">예</button>
                    <button class="startPopup_button" onClick="onGameStartWait()">아니오</button>
                </div>
            </div>
        </div>
        <div class="endPopup" style="display: none">
            <div class="endPopup_main">
                <h3 class="endPopup_text"></h3>
                <button class="endPopup_button" onClick="onGameEnd()">확인</button>
            </div>
        </div>
        <div class="giveUpPopup" style="display: none">
            <div class="giveUpPopup_main">
                <h3 class="giveUpPopup_text">항복 하시겠습니까?</h3>
                <div class="giveUpPopup_btnDiv">
                    <button class="giveUpPopup_button" onClick="onGiveUp()">예</button>
                    <button class="giveUpPopup_button" onClick="onGiveUpCancel()">아니오</button>
                </div>
            </div>
        </div>
        <div class="undoMovePopup" style="display: none">
            <div class="undoMovePopup_main">
                <h3 class="undoMovePopup_text">무르시겠습니까?</h3>
                <div class="undoMovePopup_btnDiv">
                    <button class="undoMovePopup_button" onClick="onUndoMove()">예</button>
                    <button class="undoMovePopup_button" onClick="onUndoMoveCancel()">아니오</button>
                </div>
            </div>
        </div>
        <div class="exitPopup" style="display: none">
            <div class="exitPopup_main">
                <h3 class="exitPopup_text">게임방을 나가시겠습니까?</h3>
                <div class="exitPopup_btnDiv">
                    <button class="exitPopup_button" onClick="onGameExit()">예</button>
                    <button class="exitPopup_button" onClick="onGameExitCancel()">아니오</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>